body {
    background-color: grey;
}

h2 {
   font-family: 'Papyrus', 'garamond';
   font-size: 24px;
   font-weight: 'italic';
   text-align: center !important;
}
h3 {
   font-family: 'Garamond';
   font-size: 18px;
   font-weight: 'bold';
   text-align: left !important;
}
p1 {
   font-family: 'garamond';
   font-size: 19px;
   font-weight: bold;
}
p6 {
   font-family: monospace;
   font-size: ;
   font-weight: ;
}

/* Specific: */
p7 {
   font-family: Times;
   font-size: ;
   font-weight: ;
}
p8 {
   font-family: serif;
   font-size: ;
   font-weight: ;
}
p9 {
   font-family: monospace;
   font-size: ;
   font-weight: ;
}

/* Specific: */
p10 {
   font-family: Times;
   font-size: ;
   font-weight: ;
}
